---
layout: where-to-ride
trail_data_key: twinpeaks
title: ツインピークスバイクパーク
titleHtml: ツインピークス<wbr>バイクパーク
subtitle: 公認ガイド
description: ツインピークスバイクパークでのガイドと指導。掲載企業はNAMBA認定で、パーク内でツアーやレッスンを行うことができます。
masthead:
  img: /assets/images/twinpeaks/header.jpg
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "@id": "https://namba.ngo/ja/twin-peaks/guides/#webpage",
  "url": "https://namba.ngo/ja/twin-peaks/guides/",
  "name": "ツインピークスバイクパーク: 公認ガイド",
  "description": "ツインピークスバイクパークでのガイドと指導。掲載企業はNAMBA認定で、パーク内でツアーやレッスンを行うことができます。",
  "inLanguage": "ja",
  "isPartOf": { "@id": "https://namba.ngo/#website" },
  "about": { "@id": "https://namba.ngo/#organization" },
  "mainEntity": { "@id": "https://namba.ngo/twin-peaks/#bikepark" }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "ツインピークスバイクパークの公認ガイド",
  "itemListElement": [
    {%- for guide in site.data.guides["twinpeaks"] -%}
      {%- if guide.displayName -%}
    { "@type": "ListItem", "position": {{ forloop.index }}, "item": { "@type": "Organization", "name": {{ guide.displayName | jsonify }}, "url": {{ guide.url | jsonify }} } }{%- unless forloop.last %},{% endunless -%}
      {%- endif -%}
    {%- endfor %}
  ]
}
</script>
<style>
  ul.guides {
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding: 0;
  }


  ul.guides li {
    display: inline-block;
  }

  ul.guides a {
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
    line-height: 150px;
  }

  ul.guides img {
    display: inline-block;
    margin-bottom: 40px;
    max-height: 150px;
    max-width: 150px;
    cursor: pointer;
  }
</style>
<div class="float-start item-image">
  {% include image.html src="/assets/images/twinpeaks/guides.jpg" alt="ツインピークスバイクパークでのガイドライド" widths="800,1600" sizes="(min-width: 1200px) 1200px, 100vw" loading="lazy" width="2000" height="1333" %}
  <span class="credit">
    <a href="https://instagram.com/jingypsy" target="_blank">
      📸 Jinya Nishiwaki</a>
  </span>
</div>


<div class="article-detail">

  <section class="article-content clearfix">

    {% comment %} <p>ツイン ピークス バイク パークは<wbr>一般の<wbr>人々は<wbr>無料で<wbr>利用できますが、<wbr>ツイン ピークス バイク パーク内で<wbr>指導、<wbr>ツアーなど、<wbr>その<wbr>他の<wbr>金銭的授受を<wbr>伴う<wbr>サービスを<wbr>提供する<wbr>行為を<wbr>行う<wbr>場合、<wbr>その<wbr>個人または<wbr>企業は、<wbr>商業事業者パスを<wbr>所有する<wbr>必要が<wbr>あります。<wbr>詳しくは<wbr><a href="/twin-peaks/commercial-pass/">商業事業者パス</a>の<wbr>ページを<wbr>ご確認ください。</p> {% endcomment %}

    <h2>認定企業</h2>

    <p>ツインピークスバイクパーク開設に<wbr>伴い、<wbr>多大なる<wbr>貢献を<wbr>してくれた<wbr>以下の<wbr>会社は、<a href="/ja/twin-peaks/">ツインピークスバイクパーク</a>の<wbr>ガイドまたは<wbr>ツアーを<wbr>許可されています。</p>

    <ul class="guides">
      {% for guide in site.data.guides["twinpeaks"] %}
        <li>
          {% if guide.url %}
            <a href="{% if guide.ja.url %}{{ guide.ja.url }}{% else %}{{ guide.url }}{% endif %}" target="_blank">
              <img class="img-fluid" src="{{ guide.image }}" alt="{{ guide.displayName | default: guide.name }}のロゴ">
            </a>
          {% else %}
            <img class="img-fluid" src="{{ guide.image }}" alt="{{ guide.displayName | default: guide.name }}のロゴ">
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2>あなたの<wbr>会社の<wbr>ロゴも<wbr>認定企業と<wbr>しての<wbr>せませんか？</h2>
    <p>
      商業事業者パスの取得方法・詳細については、<a href="/ja/twin-peaks/commercial-pass/">商業事業者パス</a>
      ページをご参照ください。
    </p>

  </section>
</div>
