---
title: Artist Series
subtitle: Celebrating local artists and building trails, one design at a time.
action:
  name: Shop the Series
  url: /shop/
masthead:
  img: /assets/images/artists/header.jpg
og:
  image: /assets/images/artists/header.jpg
artists:
  - name: Aikawa Mitsugu
    title: Painter & Illustrator
    img: /assets/images/artists/aikawa-mitsugu/avatar.jpg
    header: /assets/images/artists/aikawa-mitsugu/header.jpg
    instagram: aikawamitsugu
    links:
      - scheme: https
        domain: aikawamitsugu.com
      - scheme: https
        domain: mitsuguart.official.ec
    work:
      - /assets/images/artists/aikawa-mitsugu/artwork-01.jpg
      - /assets/images/artists/aikawa-mitsugu/artwork-02.jpg
      - /assets/images/artists/aikawa-mitsugu/artwork-03.jpg
      - /assets/images/artists/aikawa-mitsugu/artwork-04.jpg
      - /assets/images/artists/aikawa-mitsugu/artwork-05.jpg
      - /assets/images/artists/aikawa-mitsugu/artwork-06.jpg
    design:
      name: Kumataka
      img: /assets/images/artists/aikawa-mitsugu/design.jpg
    bio: |
      <p>Aikawa Mitsugu channels the primal energy of line and form, using shapes as building blocks to create allegorical
      worlds.

      <p>His works weave together striking geometric patterns, natural forms, and contrasting motifs, unfolding like visual
      stories. Through timeless imagery that connects past and future, he explores the deep relationship between humanity and
      nature.</p>

      <p>Balancing strong, structured backdrops with soft, flowing motifs, Aikawa creates a captivating harmony. His distinctive
      depictions of forests - through layered compositions, intricate detail, and nuanced color - draw viewers into worlds of
      depth and resonance.</p>

      <p>Born in 1976 and based in Sapporo, Aikawa graduated from the Hokkaido College of Art and Design and began his career in
      2008. He serves as visual director for the Tobiu Art Festival in Shiraoi Town and is active across a range of creative
      fields, including solo and group exhibitions, live painting at outdoor festivals, murals, commissions, and book
      illustrations.</p>

  - name: Frances Treveil
    title: Paintings & Clothing Repairs
    img: /assets/images/artists/frances-treveil/avatar.png
    header: /assets/images/artists/frances-treveil/header.jpg
    instagram: frogletpaintings
    links:
      - scheme: http
        domain: frogletpaintings.com
    work:
      - /assets/images/artists/frances-treveil/artwork-01.jpg
      - /assets/images/artists/frances-treveil/artwork-02.jpg
      - /assets/images/artists/frances-treveil/artwork-03.jpg
      - /assets/images/artists/frances-treveil/artwork-04.jpg
      - /assets/images/artists/frances-treveil/artwork-05.jpg
      - /assets/images/artists/frances-treveil/artwork-06.jpg
      - /assets/images/artists/frances-treveil/artwork-07.jpg
    design:
      name: Annupuri
      img: /assets/images/artists/frances-treveil/design.jpg
    bio: |
      <p>Frances Treveil is an artist, mountaineer, and snowboarder whose work is inspired by her journeys through mountains
      around the world. She seeks to capture the raw feeling of being in the mountains and translate that energy onto canvas.</p>

      <p>Originally from the UK and now living in the French Alps, Frances spent a year in Niseko exploring Japan’s deep powder,
      striking landscapes, and rich culture. Seeing the growth of alpine-style bike parks and the work NAMBA and others are
      doing to build a vibrant mountain biking community in Japan has made her optimistic about the sport’s future.</p>

      <p>Through her art, Frances aims to evoke the sense of wonder and awe she feels while climbing, snowboarding, or
      biking - allowing viewers to take a little piece of Japan’s mountain spirit home with them.</p>


  - name: Joe Scott
    title: Designer & Illustrator
    img: /assets/images/artists/joe-scott/avatar.png
    header: /assets/images/artists/joe-scott/header.png
    instagram: joekkaido
    work:
      - /assets/images/artists/joe-scott/artwork-01.jpg
      - /assets/images/artists/joe-scott/artwork-02.jpg
      - /assets/images/artists/joe-scott/artwork-03.jpg
      - /assets/images/artists/joe-scott/artwork-04.jpg
      - /assets/images/artists/joe-scott/artwork-05.jpg
    design:
      name: Twin Peaks badge
      img: /assets/images/artists/joe-scott/design.jpg
    bio: |
      <p>Joe Scott was born and raised in Birmingham, England, but found his artistic home in Sapporo.</p>

      <p>A passionate sketcher since childhood, Joe rediscovered his creative side in his twenties through vector art. Influenced
      by vintage travel posters and national park illustrations, his work explores the idea of art as a form of
      discovery - creating imagined worlds or celebrating those just beyond reach.</p>

      <p>After moving to Hokkaido straight out of university, Joe found endless inspiration in the landscapes outside his window.
      Now based permanently in Sapporo, he collaborates with local businesses on branding and design while creating National
      Park–style artwork celebrating Hokkaido’s mountains and landmarks.</p>

  - name: Luke Sandalls
    title: Designer & Illustrator
    img: /assets/images/artists/luke-sandalls/avatar.jpg
    header: /assets/images/artists/luke-sandalls/header.png
    instagram:
      - mtn_sea
      - sandls_design
    links:
      - scheme: https
        domain: sandlsdesign.com
    work:
      - /assets/images/artists/luke-sandalls/artwork-01.jpg
      - /assets/images/artists/luke-sandalls/artwork-02.jpg
      - /assets/images/artists/luke-sandalls/artwork-03.jpg
      - /assets/images/artists/luke-sandalls/artwork-04.jpg
      - /assets/images/artists/luke-sandalls/artwork-05.jpg
      - /assets/images/artists/luke-sandalls/artwork-06.jpg
      - /assets/images/artists/luke-sandalls/artwork-07.jpg
      - /assets/images/artists/luke-sandalls/artwork-08.jpg
    design:
      name: Spirit of the Trail
      img: /assets/images/artists/luke-sandalls/design.jpg
    bio: |
      <p>Luke Sandalls is an Australian designer and artist who has called Niseko home since 2013. He now lives on the Iwanai
      mountainside with his wife, Tomomi, chef and founder of Layer Niseko.</p>

      <p>Working under the name MtnSea, Luke shares his personal art as part sketchbook and part visual diary, while his
      commercial projects run through Sandls Design, where he created the Twin Peaks logo.</p>

      <p>A lifelong drawer, Luke recently began screenprinting and painting as a form of both play and meditation - exploring
      identity, spirit, and the balance between solitude and connection. His creative journey, shaped by five years of
      sobriety, reflects his deep commitment to art, community, and gratitude for the landscapes of Hokkaido.</p>

  - name: Peter Martin
    title: Making Art & Stuff in Hokkaido
    img: /assets/images/artists/peter-martin/avatar.png
    header: /assets/images/artists/peter-martin/header.png
    instagram: therainbowcaptain
    work:
      - /assets/images/artists/peter-martin/artwork-01.jpg
      - /assets/images/artists/peter-martin/artwork-02.jpg
      - /assets/images/artists/peter-martin/artwork-03.jpg
      - /assets/images/artists/peter-martin/artwork-04.jpg
      - /assets/images/artists/peter-martin/artwork-05.jpg
      - /assets/images/artists/peter-martin/artwork-06.jpg
      - /assets/images/artists/peter-martin/artwork-07.jpg
    design:
      name: I Want to Ride my Bicycle
      img: /assets/images/artists/peter-martin/design.jpg
    bio: |
      <p>Peter Martin, aka The Rainbow Captain, is a Hokkaido-based artist originally from New York.</p>

      <p>After moving to Japan in the mid-1990s, Peter spent over a decade working in Tokyo’s fashion industry and as an art
      director and production designer, crafting sets, props, and visual environments for international commercials and short
      films.</p>

      <p>In recent years, he has traded city life for rural Hokkaido, dedicating himself to a more personal, exploratory art
      practice. His work reflects the nuanced perspective of a Westerner deeply immersed in Japanese culture, combining
      elements of vintage Japanese illustration, mid-century design, and Showa-era aesthetics to explore pattern, repetition,
      and cultural iconography.</p>

      <p>He also creates a line of handmade omiyage - wearable objects and collectible trinkets made in limited runs using analog
      techniques, blending humor, craftsmanship, and nostalgia. New projects and collaborations are always on the horizon.</p>

  - name: Scott Wentworth
    title: Traditional Tattooist
    img: /assets/images/artists/scott-wentworth/avatar.jpg
    header: /assets/images/artists/scott-wentworth/header.jpg
    instagram:
      - whipshadewizard
      - 59niseko
    links:
      - scheme: https
        domain: 59niseko.com
    work:
      - /assets/images/artists/scott-wentworth/artwork-01.jpg
      - /assets/images/artists/scott-wentworth/artwork-02.jpg
      - /assets/images/artists/scott-wentworth/artwork-03.jpg
      - /assets/images/artists/scott-wentworth/artwork-04.jpg
      - /assets/images/artists/scott-wentworth/artwork-05.jpg
      - /assets/images/artists/scott-wentworth/artwork-06.jpg
      - /assets/images/artists/scott-wentworth/artwork-07.jpg
      - /assets/images/artists/scott-wentworth/artwork-08.jpg
    design:
      name: Shred and Enjoy
      img: /assets/images/artists/scott-wentworth/design.jpg
    bio: |
      <p>Scott Wentworth is a multidisciplinary artist whose creative path has spanned glassblowing, painting, illustration,
      digital design, and tattooing.</p>

      <p>Drawn to the bold imagery of American traditional tattooing, Scott completed a traditional apprenticeship in
      Jacksonville, Florida, between 2007 and 2008. Since then, tattooing has been his primary artistic focus.</p>

      <p>Originally from Colorado, Scott moved to Niseko in 2019 to start a family with his wife, who is from Kutchan. He now
      runs 59 Niseko, his tattoo studio located in the heart of downtown Kutchan, where he continues to refine his craft and
      contribute to the region’s creative community.</p>

---
<style>

  .avatars {
    position:sticky; top:0;
    background: linear-gradient(to bottom,
      #000000 70%,
      transparent);
    opacity: 1;
    padding-bottom: 50px;
    margin-bottom: 20px;
    z-index:9999;
  }

  .avatars ol {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
  }

  .avatars ol li {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    /* max-width: 11%; */
    margin: 20px 10px;
    text-indent: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  .avatars ol li:hover {
    width: 120px;
    height: 120px;
    margin: 0;
  }

  @media (max-width: 1199px) {
    .avatars ol li {
      width: 75px;
      height: 75px;
      margin: 20px 10px;
    }

    .avatars ol li:hover {
      width: 90px;
      height: 90px;
      margin: -5px 2.5px;
    }
  }

  @media (max-width: 990px) {
    .avatars ol li {
      width: 50px;
      height: 50px;
      margin: 20px 10px;
    }

    .avatars ol li:hover {
      width: 60px;
      height: 60px;
      margin: 15px 5px;
    }
  }


  .avatars ol li img {
    border-radius: 50%;
    border:#ccc 2px solid;
  }

  .avatars ol li.active img {
    border:#fff 2px solid;
  }

  .artists-profile {
    font-size: 16px;
    margin-bottom: 100px;
  }

  .artists-profile .header {
    position: relative;
    z-index:1;
    background-position: center;
    background-size: cover;
    padding-top: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .artists-profile .card {
    padding: 0 15px;
    width: 100%;
  }

  .artists-profile .card .card-inner {
    background: #0e0e0e;
    padding: 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: block;
  }

  .artists-profile .card h2 {
    font-weight: 700;
    margin-top: 20px;
    margin-left: 210px;
  }

  .artists-profile .card h2 small {
    white-space: nowrap;
  }

  .artists-profile .card img.avatar {
    position:absolute;
    width: 150px;
    bottom: -75px;
    left:30px;
    border-radius: 50%;
    border:#fff 2px solid;
  }

  @media (max-width: 550px) {
    .artists-profile .card h2 {
      margin-top: 95px;
      margin-left: 0;
      text-align: center;
    }

    .artists-profile .card h2 small {
      display: block;
    }

    .artists-profile .card img.avatar {
      width: 150px;
      bottom: -75px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  .artists-profile .list-group-item-heading {
    margin-bottom: 20px;
  }

  .artists-profile .side {
    padding: 0 30px;
    margin-bottom:30px;
  }

  @media (max-width: 990px) {
    .artists-profile .side {
      padding: 0 15px;
    }
  }

  .artists-profile .side .font-icon {
    white-space: nowrap;
  }

  .artists-profile .side .font-icon .icon {
    margin-right: 5px;
    color: #fd7d57;
  }

  .list-group ul {
    padding-inline-start: 0;
    list-style: none;
  }

  .artists-profile .other-work {
    position: relative;
  }

  .artists-profile .other-work .image-wrapper {
    float:left;
    width: 50%;
    aspect-ratio: 1/1;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  @media (max-width: 990px) {
    .artists-profile .other-work .image-wrapper {
      width: 33%;
    }
  }

  @media (max-width: 480px) {
    .artists-profile .other-work .image-wrapper {
      width: 50%;
    }
  }

  .artists-profile .other-work .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display:block;
    overflow:hidden;
  }

  .artists-profile .bio {
    padding: 0 15px;
  }

  .artists-profile:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<div class="module-title-wrap">
  <h2>What is the NAMBA Artist Series?</h2>
</div>
<div class="module-title-wrap" style="max-width:900px;">
  <p>We’ve teamed up with local artists to create unique merchandise that celebrates the spirit of riding in
    Niseko.<br /> Each piece is a limited-edition design, and every purchase supports trail building and maintenance.</p>
</div>

<div class="avatars">
  <ol>
    {% for artist in page.artists %}
    <li data-target="#artists" data-slide-to="{{ forloop.index0 }}">
      <a href="#artists-{{ forloop.index0 }}"><img src="{{ artist.img }}" /></a>
    </li>
  {% endfor %}
  </ol>
</div>

{% for artist in page.artists %}
<div id="artists-{{ forloop.index0 }}" class="artists-profile">

  <div class="card">
    <div class="card-inner">
      <div class="header" style="background-image: url('{{ artist.header }}');">
        <img class="avatar" src="{{ artist.img }}" />
      </div>
      <h2>{{ artist.name }} <small>{{ artist.title }}</small></h2>
      <div class="row clearfix" style="padding-top:30px;">
        <div class="side col-md-4">

          <div class="list-group">
            <h4 class="list-group-item-heading">Links</h4>
            <ul>
              {% for handle in artist.instagram %}
              <li>
                <a class="font-icon" href="https://instagram.com/{{ handle }}" target="_blank">
                  <span class="icon ion-logo-instagram"></span> @{{ handle }}
                </a>
              </li>
              {% endfor %}
              {% for url in artist.links %}
              <li>
                <a class="font-icon" href="{{ url.scheme }}://{{ url.domain }}" target="_blank">
                  <span class="icon ion-md-globe"></span> {{ url.domain }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="list-group">
            <h4 class="list-group-item-heading">Other work</h4>
            <div class="other-work clearfix">
              {% for img in artist.work %}
              <div class="image-wrapper"><div class="image" style="background-image: url('{{img}}');"></div></div>
              {% endfor %}
            </div>
          </div>

        </div>
        <div class="bio col-md-8">
          <h4 class="list-group-item-heading">About</h4>
          {{ artist.bio }}
          <h4 class="list-group-item-heading">Collaboration design: {{ artist.design.name }}</h4>

          <img src="{{ artist.design.img }}" />

          <div style="text-align:center; margin:50px 0;">
            <a class="btn btn-primary" href="/shop/">Shop the series</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="module-title-wrap">
  <h2>Want to Be Part of the Artist Series?</h2>
</div>
<div class="module-title-wrap" style="max-width:900px;">
  <p>We're always looking to collaborate with creative minds who are inspired by the outdoors, community, and mountain biking
  culture. Whether you're a painter, illustrator, designer, or visual storyteller, we'd love to hear from you. The NAMBA
  Artist Series is your chance to showcase your work, support local trails, and be part of something meaningful. Reach out
  to join our growing community of trail-building creatives!</p>
  <div style="text-align:center; margin:50px 0;">
    <a class="btn btn-primary" href="mailto:marketing@namba.ngo">Get in touch!</a>
  </div>
</div>

