---
title: Artist Series
subtitle: Your purchases build trails!

artists:

  - name: Aikawa Mitsugu
    title: Painter & Illustrator
    img: /assets/images/artists/aikawa-mitsugu/avatar.jpg
    header: /assets/images/artists/aikawa-mitsugu/header.jpg
    instagram: aikawamitsugu
    facebook: null
    links:
      - https://aikawamitsugu.com
      - https://mitsuguart.official.ec
    work:
      - /assets/images/artists/aikawa-mitsugu/artwork-01.jpg
      - /assets/images/artists/aikawa-mitsugu/artwork-02.jpg
      - /assets/images/artists/aikawa-mitsugu/artwork-03.jpg
    bio: |
      <p>He channels the primal energy of line and form, using shapes as building blocks to create allegorical worlds.</p>

      <p>His works weave together striking geometric patterns, natural forms, and contrasting motifs, unfolding like stories.
      Through timeless imagery that connects past and future, he explores the profound relationship between humanity and
      nature.</p>

      <p>The harmony he achieves—between strong, structured backdrops and soft, flowing motifs—creates a captivating balance. His
      distinctive depictions of forests, expressed through layered compositions, intricate detail, and nuanced color, invite
      viewers into a world of depth and resonance.</p>

      <p>Born in 1976 and based in Sapporo, he graduated from the Hokkaido College of Art and Design and began his career in
      2008. He has served as the visual director for the Tobiu Art Festival in Shiraoi Town, and his practice spans solo
      exhibitions, collaborative projects such as the Silkio Project, Geso Portraito, Stopero Pinks, and the spring group show
      Haru Urara. Beyond the gallery, his work includes live painting at outdoor music festivals, murals for shops and public
      spaces, commissioned pieces, and book cover illustrations.</p>


  - name: Frances Treveil
    title: Paintings and Clothing Repairs
    img: /assets/images/artists/frances-treveil/avatar.png
    header: /assets/images/artists/frances-treveil/header.jpg
    instagram: frogletpaintings
    facebook: null
    links: http://frogletpaintings.com
    work:
      - /assets/images/artists/frances-treveil/artwork-01.jpg
      - /assets/images/artists/frances-treveil/artwork-02.jpg
      - /assets/images/artists/frances-treveil/artwork-03.jpg
      - /assets/images/artists/frances-treveil/artwork-04.jpg
      - /assets/images/artists/frances-treveil/artwork-05.jpg
      - /assets/images/artists/frances-treveil/artwork-06.jpg
      - /assets/images/artists/frances-treveil/artwork-07.jpg
    bio: |
      <p>I am an artist, mountaineer and snowboarder travelling across the world to find inspiration for my paintings. I want to
      bring the feeling of being in the mountains onto canvas.

      <p>Although originally from the UK and currently living in the French Alps, I spent a year living in Niskeo looking for Japanese powder,
      Japanese mountains and Japanese food. Seeing the potential for serious alpine style bike parks in Japan is really exciting and the work NAMBA and other Japanese
      mountain bikers are doing to make this possible and build an international mountain biking community makes me optimistic
      about the future if mountain biking in Japan. Riding through sassa looking at the incredible views if Mount Yotei makes
      Twin Peaks a unique place to to mountain biking.

      <p>My aim in my paintings is to bring the sense of wonder and awe that I feel when I'm out climbing, snowboarding or biking
      back into the canvas and I hope that you can take a little bit of Japan home with you through my pictures.</p>


  - name: Joe Scott
    title: Designer and Illustrator
    img: /assets/images/artists/joe-scott/avatar.png
    header: /assets/images/artists/joe-scott/header.png
    instagram: joekkaido
    facebook: null
    # links:
    #   -
    work:
      - /assets/images/artists/joe-scott/artwork-01.png
      - /assets/images/artists/joe-scott/artwork-02.png
      - /assets/images/artists/joe-scott/artwork-03.png
      - /assets/images/artists/joe-scott/artwork-04.png
      - /assets/images/artists/joe-scott/artwork-05.png
    bio: |
      <p>Born and raised in Birmingham, England, but made in Sapporo.</p>

      <p>Despite being an avid sketcher as a kid, I left art behind as a teenager with school and University leading me
        elsewhere. In my early 20s, I discovered vector art and suddenly my own limitations with a pencil were quickly
        forgotten
        and I’d entered a new world that I’d never leave. Influenced by travel posters and national parks illustrations, I
        became enamoured with the idea of using art and design as a means of exploration, creating countless badges and
        posters
        for worlds that don’t exist, or ones that were just of reach. But living in Hokkaido, the world I was most interested
        in
        was just outside my window. </p>

      <p>Moving to Sapporo fresh out of University was bound to be a life-altering experience but I could never have
        anticipated
        the extent to which it’s affected me. Now my permanent home, Hokkaido serves as endless inspiration for my artwork and
        designs while working with local businesses on their branding and identity, or creating a set of National Parks style
        designs for Hokkaido’s Mountains and other notable landmarks.</p>

  - name: Luke Sandalls
    title: Designer and Illustrator
    img: /assets/images/artists/luke-sandalls/avatar.jpg
    header: /assets/images/artists/luke-sandalls/header.png
    instagram: mtn_sea
    facebook: null
    # links:
    #   -
    work:
      - /assets/images/artists/luke-sandalls/artwork-01.jpg
      - /assets/images/artists/luke-sandalls/artwork-02.png
      - /assets/images/artists/luke-sandalls/artwork-03.png
      - /assets/images/artists/luke-sandalls/artwork-04.jpg
      - /assets/images/artists/luke-sandalls/artwork-05.png
      - /assets/images/artists/luke-sandalls/artwork-06.jpg
      - /assets/images/artists/luke-sandalls/artwork-07.png
      - /assets/images/artists/luke-sandalls/artwork-08.png
      - /assets/images/artists/luke-sandalls/artwork-09.png
      - /assets/images/artists/luke-sandalls/artwork-10.png
      - /assets/images/artists/luke-sandalls/artwork-11.png
      - /assets/images/artists/luke-sandalls/artwork-12.png
      - /assets/images/artists/luke-sandalls/artwork-13.png
      - /assets/images/artists/luke-sandalls/artwork-14.png
      - /assets/images/artists/luke-sandalls/artwork-15.png
      - /assets/images/artists/luke-sandalls/artwork-16.png
      - /assets/images/artists/luke-sandalls/artwork-17.jpg
      - /assets/images/artists/luke-sandalls/artwork-18.png
      - /assets/images/artists/luke-sandalls/artwork-19.jpg
      - /assets/images/artists/luke-sandalls/artwork-20.png
      - /assets/images/artists/luke-sandalls/artwork-21.jpg
    bio: |
      <p>I'm an Aussie designer and artist living in Niseko area since 2013. These days, I'm living on the Iwanai mountainside
      looking out to the ocean with my wife Tomomi who is the founder/chef at <a href="http://www.layerniseko.com/" taget="_blank">Layer Niseko</a> in Kutchan. I currently share my
      personal art under ‘Mtnsea’, on instagram but it started as an idea for a surf/snow artists collective, was then an
      online t-shirt and prints shop but is nowadays more of a lowkey visual diary— separate from my commercial work at <a href="http://www.sandlsdesign.com/" target="_blank">Sandls
      Design</a> (where I am proud to have created the Twin Peaks logo). Been drawing since I was a kid back in Brisbane, always
      lost in books, the bush and exploring means of understanding and escapism. During COVID, I started screenprinting at
      home—still a total beginner, but enjoying the process.</p>

      <p>With art and life in general, I find peace by trying to surrender my fears and expectations, though the ego picks them
      right back up again, so I use painting as a meditative practice. I explore notions of identity and spirit, following
      hunches about hidden connections, our true nature and meaning. The past five years of sobriety has allowed me to
      transform my life, working through trauma and addiction, I've rebuilt relationships with family back home, and I’m
      starting to explore who I am or what life can be through a totally different lense. I'm passionate about supporting
      others who are struggling, looking to help share what was given to me by mental health services, online communities and
      friends and family both here and abroad. So if you're struggling, please reach out.</p>

      <p>For all its natural beauty and mix of people and activities, Hokkaido can be isolating, it's part of its allure. But
      I've learned there's a world of difference between feeling lonely and living in peaceful solitude. These days, I'm
      grateful for my quiet creative life and keen to give back to this place that's become home. I also want to thank NAMBA
      for all their work on and off the mountain, building community and making trails.</p>

  - name: Peter Martin
    # The Rainbow Captain
    title: Making Art & Stuff in Hokkaido
    img: /assets/images/artists/peter-martin/avatar.png
    header: /assets/images/artists/peter-martin/header.png
    instagram: therainbowcaptain
    facebook: null
    # links: https://59niseko.com
    work:
      - /assets/images/artists/peter-martin/artwork-01.png
      - /assets/images/artists/peter-martin/artwork-02.jpg
      - /assets/images/artists/peter-martin/artwork-03.jpg
      - /assets/images/artists/peter-martin/artwork-04.jpg
      - /assets/images/artists/peter-martin/artwork-05.jpg
      - /assets/images/artists/peter-martin/artwork-06.jpg
      - /assets/images/artists/peter-martin/artwork-07.jpg
    bio: |
      <p>The Rainbow Captain is a Hokkaido-based artist, originally from New York. After relocating to Japan in the mid-1990s, he
      spent over a decade immersed in Tokyo’s fashion industry and also worked extensively as an art director and production
      designer, creating sets, props, and visual environments for international commercials and short films.
      In recent years, he left the intensity of urban life behind and settled in rural Hokkaido, where he now devotes himself
      to a more personal and exploratory creative practice. His work reflects a unique sensibility shaped by decades of living
      as a Westerner in Japan—not merely as an outsider looking in, but through sustained cultural immersion. This perspective
      informs a body of work that offers a distinct interpretation alongside both local understandings and international
      perspectives of Japanese visual culture.</p>

      <p>Drawing inspiration from vintage Japanese illustration, mid-century design, and the everyday aesthetics of the Showa
      era, The Rainbow Captain explores pattern, repetition, and cultural iconography through a distinctly personal lens.</p>

      <p></p>He also produces a line of handmade omiyage—wearable objects and collectible trinkets created in limited runs using
      analog methods, blending humor, craftsmanship, and nostalgia. These small-batch creations are released periodically,
      each one carrying its own sense of timing, intention, and play.</p>

      <p>Keep an eye out—new projects, collaborations, and one-of-a-kind creations are always on the horizon.</p>

  - name: Scott Wentworth
    title: Traditional Tattooist
    img: /assets/images/artists/scott-wentworth/avatar.jpg
    header: /assets/images/artists/scott-wentworth/header.jpg
    instagram:
      - whipshadewizard
      - 59niseko
    facebook: null
    links: https://59niseko.com
    work:
      - /assets/images/artists/scott-wentworth/artwork-01.jpg
      - /assets/images/artists/scott-wentworth/artwork-02.jpg
      - /assets/images/artists/scott-wentworth/artwork-03.jpg
      - /assets/images/artists/scott-wentworth/artwork-04.jpg
      - /assets/images/artists/scott-wentworth/artwork-05.jpg
      # - /assets/images/artists/scott-wentworth/artwork-06.jpg
      - /assets/images/artists/scott-wentworth/artwork-07.jpg
      - /assets/images/artists/scott-wentworth/artwork-08.jpg
      - /assets/images/artists/scott-wentworth/artwork-09.jpg
      - /assets/images/artists/scott-wentworth/artwork-10.jpg
      - /assets/images/artists/scott-wentworth/artwork-11.jpg
      - /assets/images/artists/scott-wentworth/artwork-12.jpg
      - /assets/images/artists/scott-wentworth/artwork-13.jpg
    bio: |
      <p>Scott is a multidisciplinary artist, who has spent time working as a glass blower, painter, illustrator, digital
      designer and tattooer.</p>

      <p>Scott was drawn to the American traditional tattooing genre when in 2007 and 2008 he went through a traditional tattoo
      apprenticeship in Jacksonville, Florida.</p>

      <p>Since 2008 his primary focus has been on American traditional tattooing.</p>

      <p>Originally from Colorado, he moved to Niseko in 2019 to start a family with his wife, who is from Kutchan. This is why
      he chose to build his tattoo studio, 59 Niseko, in the heart of downtown Kutchan.</p>

---
<style>

  #artists {
    height: 100vh;
  }

    .carousel,
    .carousel-inner,
    .carousel-inner .item {
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .carousel-inner .item:before {
      /* background: linear-gradient(to top, #000000, transparent);
      bottom: 0;
      left: 0;
      content: "";
      position: absolute;
      height: 30%;
      width: 100%; */
      display:none;
    }

.carousel-indicators {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  margin-bottom: 40px;
}

.carousel-indicators li {
  position: relative;
  display: inline-block;
  width: 100px !important;
  height: 100px !important;
  margin: 20px 10px !important;
  text-indent: 0;
  cursor: pointer;
  background-color: transparent !important;
  border: none;
  border-radius: 0;
}

.carousel-indicators li:hover {
  width: 120px !important;
  height: 120px !important;
  margin:0 !important
}

.carousel-indicators li img {
  /* max-width: 150px; */
  border-radius: 50%;
  border:#ccc 2px solid;
}

/* .carousel-indicators .active {
  width: 100px;
  height: 100px;
  margin: 0;
  background-color: transparent;
} */

.carousel-indicators li.active img {
  border:#fff 2px solid;
}

.carousel-indicators li div {
  border:transparent 10px solid;
  position:absolute;
  bottom:-20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width:20px;
  height: 20px;
}

.carousel-indicators li.active div {
  border-bottom-color: #fff;
}

  /* .ec-grid {
    display: block !important;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .details-gallery__images-spacer {
    margin-top: 35px;
  }

  .product-details__navigation {
    display: none !important;
  }

  #ProductBrowser-1 {
    min-height: auto !important;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice {
    background-color: #fd7d57;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice::before {
    color: #fd7d57;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice::after {
    color: #fd7d57;
  }

  .ec-form__row--continue .form-control--done {
    text-align: left !important;
  }

  .form-control button.form-control__button {
    color: #ffffff !important;
    background-color: #fd7d57 !important;
    border-color: transparent !important;
    background: linear-gradient(135deg, #fd7d57, #f55d59) !important;

    border: 0 !important;
    border-radius: 30px !important;
    font-weight: 500 !important;
    padding-left: 36px !important;
    padding-right: 36px !important;

    width: auto !important;
    font-size: 14px !important;
  }

  .form-control button.form-control__button:hover {
    background: #fd7d57 !important;
    background: linear-gradient(155deg, #fd7d57, #fd7d57) !important;
  }

  img.ecwid-PaymentMethodsBlockSvg {
    background: #fff !important;
  }

  .ec-cart__button--apple-pay {
    text-align: center !important;
    text-align: -moz-center !important;
    text-align: -webkit-center !important;
  }

  .ec-cart__button--apple-pay .form-control--button {
    border: 1px #fff solid !important;
    padding-left: 36px !important;
    padding-right: 36px !important;
    border-radius: 30px !important;
    width: 170px !important;
    margin: 0 auto !important;
    position: relative !important;
  }

  a.breadcrumbs__link--last {
    font-size: 0 !important;
  }

  a.breadcrumbs__link--last:after {
    content: '✕';
    font-size: 20px;
    font-weight: bold;
    float: right;
  }

  html#ecwid_html body#ecwid_body #raffle-store .ec-size .ec-store .details-gallery__images-spacer {
    margin-top: 0;
  }

  #raffle-store a.breadcrumbs__link--last {
    display: none;
  } */

  .artists-profile .header {
    /* position: relative; */
    /* background: url('/assets/images/bg/bg-header.jpg'); */
    /* background-position: center; */
    /* background-size: cover; */
    /* text-align: center; */
    /* padding: 36px 36px 150px; */
    padding-top: 300px;

    /* width: calc(100vw); */
    /* margin-left: -27%; */
    /* padding: 20px 15px; */
  }

  /* .artists-profile .header h2 {
    position: relative;
    text-align: center;
    z-index: 20;
    background: linear-gradient(135deg, #ffffff, #cccccc);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    display: inline-block;
    font-size: 40px;
    letter-spacing: -3px;
    margin: 0;
  } */

  /* .artists-profile div.header:before {
    background: linear-gradient(to top, #000000, transparent);
    opacity: 1;
    /* background-color: #000; *
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    /* opacity: 0.3; *
    height: 100%;
    width: 100%;
    z-index: 3;
  } */

  .artists-profile p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .artists-profile .card, .artists-profile .bio, .artists-profile .carousel {
    float:left;
    padding: 30px;
  }

  .artists-profile .card {
    padding: 0 15px;
    width: 30%;
  }

  .artists-profile .card .card-inner {
    background: #0e0e0e;
    padding: 30px;
    text-align: center;
  }

  .artists-profile .card h2 {
    font-weight: 700;
  }

  .artists-profile .card img {
    max-width: 150px;
    border-radius: 50%;
    border:#fff 2px solid;
  }

  .artists-profile .bio {
    width: 70%;
    padding: 0 15px;
  }

  .artists-profile .carousel {
    width: 100%;
  }

  .artists-profile .carousel .owl-item .item {
    border:#fff 2px solid;
  }

  .artists-profile:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

  <div id="artists" class="carousel slide carousel-fade" data-ride="carousel" data-bs-ride="carousel" data-interval="false">

    <ol class="carousel-indicators">
      {% for artist in page.artists %}
      <li data-target="#artists" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.index0 == 0 %}active{% endif %}">
        <a href="#artists"><img src="{{ artist.img }}" /></a>
        <div></div>
      </li>
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      {% for artist in page.artists %}
      <div class="item {% if forloop.index0 == 0 %}active{% endif %}" style="background-image: url('{{ artist.header }}');">
        <div class="carousel-caption container">
          <div class="artists-profile">
            <div class="header" style="background-image: url('{{ artist.header }}');">
              {% comment %} <h2>Joe Scott</h2> {% endcomment %}
            </div>
            <div class="card">
              <div class="card-inner">

                <img src="{{ artist.img }}" />
                <h2>{{ artist.name }}</h2>
                <p>{{ artist.title }}</p>

                {% for handle in artist.instagram %}
                <a class="font-icon" href="https://instagram.com/{{ handle }}" target="_blank">
                  <span class="icon ion-logo-instagram"></span> @{{ handle }}
                </a><br />
                {% endfor %}
                {% for url in artist.links %}
                <a class="font-icon" href="{{ url }}" target="_blank">
                  {% comment %} <span class="icon ion-logo-instagram"></span>{% endcomment %}
                  {{ url }}
                </a><br />
                {% endfor %}
              </div>
            </div>
            <div class="bio">
              {{ artist.bio }}
            </div>

            <div class="carousel">
              {% include carousel.html images=artist.work items=4 autoplay='true' id=forloop.index %}
            </div>

          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>

{% comment %} {% for artist in page.artists %}
<div class="artists-profile">
  <div class="header" style="background-image: url('{{ artist.header }}');">
  </div>
  <div class="card">
    <div class="card-inner">

      <img src="{{ artist.img }}" />
      <h2>{{ artist.name }}</h2>
      <p>{{ artist.title }}</p>

      {% for handle in artist.instagram %}
      <a class="font-icon" href="https://instagram.com/{{ handle }}" target="_blank">
        <span class="icon ion-logo-instagram"></span> @{{ handle }}
      </a><br />
      {% endfor %}
      {% for url in artist.links %}
      <a class="font-icon" href="{{ url }}" target="_blank">
        {{ url }}
      </a><br />
      {% endfor %}
    </div>
  </div>
  <div class="bio">
    {{ artist.bio }}
  </div>

  <div class="carousel">
    {% include carousel.html images=artist.work items=4 autoplay='true' id=forloop.index %}
  </div>

</div>
{% endfor %} {% endcomment %}
