---
layout: where-to-ride
trail_data_key: twinpeaks
title: Twin Peaks Bike Park
subtitle: Authorised Guides
description: Guiding and instruction at Twin Peaks Bike Park. The companies listed here are authorised by NAMBA to lead tours and lessons in the park.
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "@id": "https://namba.ngo/twin-peaks/guides/#webpage",
  "url": "https://namba.ngo/twin-peaks/guides/",
  "name": "Twin Peaks Bike Park: Authorised Guides",
  "description": "Guiding and instruction at Twin Peaks Bike Park. The companies listed here are authorised by NAMBA to lead tours and lessons in the park.",
  "inLanguage": "en",
  "isPartOf": { "@id": "https://namba.ngo/#website" },
  "about": { "@id": "https://namba.ngo/#organization" },
  "mainEntity": { "@id": "https://namba.ngo/twin-peaks/#bikepark" }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "Authorised guides at Twin Peaks Bike Park",
  "itemListElement": [
    {%- for guide in site.data.guides["twinpeaks"] -%}
      {%- if guide.displayName -%}
    { "@type": "ListItem", "position": {{ forloop.index }}, "item": { "@type": "Organization", "name": {{ guide.displayName | jsonify }}, "url": {{ guide.url | jsonify }} } }{%- unless forloop.last %},{% endunless -%}
      {%- endif -%}
    {%- endfor %}
  ]
}
</script>
<style>
  ul.guides {
    margin-top: 40px;
    list-style-type:none;
    text-align: center;
    margin: 0;
    padding: 0;
  }


  ul.guides li {
    display: inline-block;
  }

  ul.guides a {
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
    line-height: 150px;
  }

  ul.guides img {
    display: inline-block;
    margin-bottom: 40px;
    max-height: 150px;
    max-width: 150px;
    cursor: pointer;
  }
</style>
<div class="float-start item-image">
  <img src="/assets/images/twinpeaks/guides.jpg" alt="Guided ride at Twin Peaks Bike Park" itemprop="image">
  <span class="credit"><a href="https://instagram.com/jingypsy" target="_blank"> 📸 Jinya Nishiwaki</a></span>
</div>

<div class="article-detail">

  <section class="article-content clearfix" itemprop="articleBody">

    {% comment %} <p>Twin Peaks Bike Park is free to the general public, but businesses operating within the park must possess commercial
    passes in order to provide instruction, tours, or other such services within the Twin Peaks Bike Park. Check the
    <a href="/twin-peaks/commercial-pass/">commercial pass</a> page for more information.</p> {% endcomment %}

    {% comment %} <p>Twin Peaks Bike Park is free to the general public. Businesses operating within the park in order to
      provide instruction, tours, or other such services within the Twin Peaks Bike Park must first contact NAMBA. Check the
      <a href="/twin-peaks/commercial-pass/">commercial pass</a> page for more information.
    </p> {% endcomment %}

    <h2>Authorised companies</h2>

    <p>The following companies are authorised to guide or give tours of <a href="/twin-peaks/">Twin Peaks Bike Park</a>. These companies have
    contributed to the building of the park.</p>

    <ul class="guides">
      {% for guide in site.data.guides["twinpeaks"] %}
        <li>
          {% if guide.url %}
          <a href="{{ guide.url }}"
            target="_blank">
            <img class="img-fluid" src="{{ guide.image }}?d={{ site.time | date: " %s" }}" alt="{{ guide.displayName | default: guide.name }} logo">
          </a>
          {% else %}
          <img class="img-fluid" src="{{ guide.image }}?d={{ site.time | date: " %s" }}" alt="{{ guide.displayName | default: guide.name }} logo">
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2>Want to see your company listed here?</h2>
    <p>For more information on how to obtain commercial passes for your business, see our <a href="/twin-peaks/commercial-pass/">commercial pass</a> page.</p>

  </section>
</div>

