---
title: Raffle
subtitle: Our biggest raffle to date!
description: Support mountain biking in Japan and win an awesome limited edition, fully custom painted Specialized Soil Searching Stumpjumper Evo Expert! Enter to win today!
masthead:
  img: /assets/images/competitions/2025/raffle/header.jpg
og:
  image: /assets/images/competitions/2025/raffle/header.jpg
storeProductId: 688070324
otherPrizes:
  - row:

    - title: Niseko Hirafu Luxury Mountain Bike Getaway for 4
      desc: This two-night stay at Aspect Luxury Apartments your loved one, or your favourite riding buddy, can fuel up and kickstart your day of mountain biking adventures.
      inclusions:
        - 2 night stay for 4 at Aspect Luxury Apartments
        - Mountain bike rental for 4 from Rhythm Hirafu
        - Day tickets for Niseko Tokyu Grand Hirafu mountain bike park
        - Day tickets for Niseko Annupuri mountain bike park
      images:
        - /assets/images/competitions/2025/raffle/aspect-01.jpg
        # - /assets/images/competitions/2025/raffle/aspect-02.jpg
        - /assets/images/competitions/2025/raffle/rhythm-01.jpg
        - /assets/images/competitions/2025/raffle/grand-hirafu-01.jpg
        - /assets/images/competitions/2025/raffle/annupuri-01.jpg
      sponsors:
        - name: H2
          img: /assets/images/company/higuma/h2.png
          url: https://www.h2life.com/accommodation/property-listing-aspect-niseko/
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
        - name: Niseko Tokyu Grand Hirafu
          img: /assets/images/company/special/grand-hirafu.png
          url: https://www.grand-hirafu.jp/en/
        - name: Niseko Annupuri
          img: /assets/images/company/annupuri.png
          url: https://annupuri.info
      note: Valid for summer 2026. Blackout dates apply.

    - title: Niseko Hanazono Luxury Activity Getaway for 2
      desc: This luxurious one-night stay at The Park Hyatt Niseko hotel includes a delightful buffet breakfast meaning you and your loved one, or your favourite riding buddy, can fuel up and kickstart your day of mountain biking adventures.
      inclusions:
        - 1 night stay for 2 at Park Hyatt Niseko
        - Park Hyatt breakfast for 2
        - Hanazono Zipflight for 2
        - Hanazono Tree Trekking for 2
        - Hanazono Mountain Lights experience for 2
      images:
        - /assets/images/competitions/2025/raffle/hyatt-01.jpg
        - /assets/images/competitions/2025/raffle/hanazono-zipflight.jpg
        - /assets/images/competitions/2025/raffle/hanazono-tree-trekking.jpg
        - /assets/images/competitions/2025/raffle/hanazono-mountain-lights.jpg
      sponsors:
        - name: Park Hyatt
          img: /assets/images/company/higuma/park-hyatt.png
          url: https://www.hyatt.com/en-US/hotel/japan/park-hyatt-niseko-hanazono/ctsph
        - name: Hanazono
          img: /assets/images/company/higuma/hanazono.png
          url: https://hanazononiseko.com/en
      note: Valid for summer 2026. Blackout dates apply.

  - row:

    - title: Niseko Hirafu Premium Mountain Bike Getaway for 2
      desc: This two-night stay at Aspect Luxury Apartments your loved one, or your favourite riding buddy, can fuel up and kickstart your day of mountain biking adventures.
      inclusions:
        - 2 night stay for 2 at The Maples
        - Mountain bike rental for 2 from Rhythm Hirafu
        - Day tickets for Niseko Tokyu Grand Hirafu mountain bike park
        - Day tickets for Niseko Annupuri mountain bike park
      images:
        - /assets/images/competitions/2025/raffle/maples.jpg
        - /assets/images/competitions/2025/raffle/rhythm-01.jpg
        - /assets/images/competitions/2025/raffle/grand-hirafu-01.jpg
        - /assets/images/competitions/2025/raffle/annupuri-01.jpg
      sponsors:
        - name: The Maples
          img: /assets/images/company/maples.png
          url: https://themaplesniseko.com/
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
        - name: Niseko Tokyu Grand Hirafu
          img: /assets/images/company/special/grand-hirafu.png
          url: https://www.grand-hirafu.jp/
        - name: Niseko Annupuri
          img: /assets/images/company/annupuri.png
          url: https://annupuri.info
      note: Valid for summer 2026. Blackout dates apply.

    - title: Niseko Premium Activity & Dinner Getaway for 2
      desc:
      inclusions:
        - 1 night stay for 2 at a Vacation Niseko property
        - 2 Coffees & Sweet Treats from Hidden Stand Coffee
        - NAC Adventure Park Pair Pass
        - Dinner for 2 at Temporada
      images:
        - /assets/images/competitions/2025/raffle/vacation-niseko-01.jpg
        - /assets/images/competitions/2025/raffle/hidden-stand-01.jpg
        - /assets/images/competitions/2025/raffle/nac.jpg
        - /assets/images/competitions/2025/raffle/temporada.jpg
      sponsors:
        - name: Vacation Niseko
          img: /assets/images/company/shika/vacation-niseko.png
          url: https://vacationniseko.com
        - name: Hidden Stand
          img: /assets/images/company/hidden-stand.png
          url: https://www.instagram.com/hiddenstandcoffee/
        - name: NAC
          img: /assets/images/company/nac.png
          url: https://nacadventures.jp
        - name: Temporada
          img: /assets/images/company/temporada.png
          url: https://temporada-niseko.com/
      note: Valid for summer 2026. Blackout dates apply.

    - title: Niseko Premium Activity & Brunch Getaway for 2
      desc:
      inclusions:
        - 1 night stay for 2 at a Vacation Niseko property
        - Breakfast or Lunch at Green Farm Cafe
        - NAC Adventure Park Pair Pass
        - 2 Niseko Gelato Double Scoops
      images:
        - /assets/images/competitions/2025/raffle/vacation-niseko-01.jpg
        - /assets/images/competitions/2025/raffle/greenfarm-01.jpg
        - /assets/images/competitions/2025/raffle/nac.jpg
        - /assets/images/competitions/2025/raffle/gelato-01.jpg
      sponsors:
        - name: Vacation Niseko
          img: /assets/images/company/shika/vacation-niseko.png
          url: https://vacationniseko.com
        - name: Green Farm Cafe
          img: /assets/images/company/greenfarmcafe.png
          url: https://www.greenfarmcafe.com
        - name: NAC
          img: /assets/images/company/nac.png
          url: https://nacadventures.jp
        - name: Niseko Gelato
          img: /assets/images/company/niseko-gelato.png
          url: https://www.nisekogelato.com
      note: Valid for summer 2026. Blackout dates apply.

  - row:
    - title: Smith Optics Mega Combo 1
      desc: Get fully equipped with this premium Smith bundle. Featuring top-tier protection, versatile eye coverage, and effortless style, this combo is the ultimate choice for any serious rider looking to elevate their gear.
      inclusions:
        - Forefront 3 Matte Zero Gravity helmet
        - Wildcat Matte Black with CP Low Light Rose Blue Mirror & Clear lenses
      images:
        - /assets/images/competitions/2025/raffle/smith-01.jpg
        # - /assets/images/competitions/2025/raffle/smith-02.jpg
      sponsors:
        - name: Smith
          img: /assets/images/company/smith.png
          url: https://smithjapan.co.jp/
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Smith Optics Mega Combo 2
      desc: Get fully equipped with this premium Smith bundle. Featuring top-tier protection, versatile eye coverage, and effortless style, this combo is the ultimate choice for any serious rider looking to elevate their gear.
      inclusions:
        - Payroll Matte Black helmet
        - Bobcat Black with CP Red Mirror & Clear lenses
      images:
        - /assets/images/competitions/2025/raffle/smith-03.jpg
        # - /assets/images/competitions/2025/raffle/smith-04.jpg
      sponsors:
        - name: Smith
          img: /assets/images/company/smith.png
          url: https://smithjapan.co.jp/
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Smith Optics Mega Combo 3
      desc: Get fully equipped with this premium Smith bundle. Featuring top-tier protection, versatile eye coverage, and effortless style, this combo is the ultimate choice for any serious rider looking to elevate their gear.
      inclusions:
        - Payroll Matte Chalk helmet
        - PivLock™ Vert Matte Amethyst with CP Opal Mirror & Clear lenses
      images:
        - /assets/images/competitions/2025/raffle/smith-05.jpg
        # - /assets/images/competitions/2025/raffle/smith-06.jpg
      sponsors:
        - name: Smith
          img: /assets/images/company/smith.png
          url: https://smithjapan.co.jp/
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  - row:

    - title: Marzocchi Bomber Z 170mm 29" Forks
      quantity: 1
      desc: Boost your ride with these high-performance suspension forks. Designed for smooth, reliable, and precise handling on any trail, perfect for enhancing your mountain biking experience.
      images:
        - /assets/images/competitions/2025/raffle/fox-01.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Fox Float 34 Factory 140mm 29" Forks
      quantity: 1
      desc: Boost your ride with these high-performance suspension forks. Designed for smooth, reliable, and precise handling on any trail, perfect for enhancing your mountain biking experience.
      images:
        - /assets/images/competitions/2025/raffle/fox-02.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Fox Float 34 Factory 130mm 29" Forks
      quantity: 1
      desc: Boost your ride with these high-performance suspension forks. Designed for smooth, reliable, and precise handling on any trail, perfect for enhancing your mountain biking experience.
      images:
        - /assets/images/competitions/2025/raffle/fox-03.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  - row:

    - title: Peaty's Wash, Degrease, Lubricate Starter Pack
      quantity: 3
      desc: Far from a load of products thrown into a cheap bucket, Peaty’s Complete Bicycle Cleaning Kit provides all your essential cleaning products in a premium storage solution. Made from recycled plastic and with a strong aluminium carry handle, this kit contains all the key products you need to go from filthy dirty to race-ready.
      inclusions:
        - 1 Litre of LoamFoam Bike Cleaner
        - 500ml of Foaming Drivetrain Degreaser
        - 120ml of LinkLube All Weather chain lube
        - 3 Bamboo Bicycle Cleaning Cloths Set
      images:
        - /assets/images/competitions/2025/raffle/peatys-01.jpg
      sponsors:
        - name: Peatys
          img: /assets/images/company/peatys.png
          url: https://peatys.co.uk
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Peaty's LinkLube All Seasons Starter Pack
      quantity: 3
      desc: Keep your bike race-ready with this essential cleaning kit from Peaty's. While the toolbox isn't included, you'll still get all the key products you need to go from filthy dirty to race-ready.
      inclusions:
        - 120ml of LinkLube wet weather chain lube
        - 120ml of LinkLube dry weather chain lube
        - 120ml of LinkLube all-weather premium chain lube
      images:
        - /assets/images/competitions/2025/raffle/peatys-02.jpg
      sponsors:
        - name: Peatys
          img: /assets/images/company/peatys.png
          url: https://peatys.co.uk
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Peaty's Holeshot Puncture Plugger & Tyre Inflator Kit
      quantity: 2
      desc: Keep your bike race-ready with this essential cleaning kit from Peaty's. While the toolbox isn't included, you'll still get all the key products you need to go from filthy dirty to race-ready.
      inclusions:
        - Holeshot Tubeless puncture plugger kit
        - Holeshot CO2 tyre inflator kit
      images:
        - /assets/images/competitions/2025/raffle/peatys-03.jpg
      sponsors:
        - name: Peatys
          img: /assets/images/company/peatys.png
          url: https://peatys.co.uk
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  - row:

    - title: Day tickets for Niseko Tokyu Grand Hirafu mountain bike park
      quantity: 4
      desc:
      images:
        - /assets/images/competitions/2025/raffle/grand-hirafu-01.jpg
      sponsors:
        - name: Niseko Tokyu Grand Hirafu
          img: /assets/images/company/special/grand-hirafu.png
          url: https://www.grand-hirafu.jp/
      note: Valid for summer 2026. Blackout dates apply.

    - title: Day tickets for Niseko Annupuri Mountain Bike Park
      quantity: 4
      desc:
      images:
        - /assets/images/competitions/2025/raffle/annupuri-01.jpg
      sponsors:
        - name: Niseko Annupuri
          img: /assets/images/company/annupuri.png
          url: https://annupuri.info
      note: Valid for summer 2026. Blackout dates apply.

    - title: Full Day Mountain Bike Rental Rhythm Hirafu
      quantity: 1
      desc:
      images:
        - /assets/images/competitions/2025/raffle/rhythm-01.jpg
      sponsors:
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
      note: Valid for summer 2026. Blackout dates apply.

    - title: Mountain Bike Workshop Tune Up at Rhythm Hirafu
      quantity: 3
      desc:
      images:
        - /assets/images/competitions/2025/raffle/rhythm-02.jpg
      sponsors:
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
      note: Valid for summer 2026. Blackout dates apply.

  - row:

    - title: Tomo PLAYPARK Pumptrack Day Ticket
      quantity: 10
      desc:
      images:
        - /assets/images/competitions/2025/raffle/pumptrack-01.jpg
      sponsors:
        - name: Tomo Playpark
          img: /assets/images/company/tomo-playpark.png
          url: https://playpark.akaigawa-tomo.com/en/

    - title: Niseko Hanazono Zipflight
      quantity: 1
      desc:
      images:
        - /assets/images/competitions/2025/raffle/hanazono-zipflight.jpg
      sponsors:
        - name: Hanazono
          img: /assets/images/company/higuma/hanazono.png
          url: https://hanazononiseko.com/en

    - title: Niseko Hanazono Tree Trekking
      quantity: 1
      desc:
      images:
        - /assets/images/competitions/2025/raffle/hanazono-tree-trekking.jpg
      sponsors:
        - name: Hanazono
          img: /assets/images/company/higuma/hanazono.png
          url: https://hanazononiseko.com/en

    - title: Niseko Hanazono Moutain Lights
      quantity: 4
      desc:
      images:
        - /assets/images/competitions/2025/raffle/hanazono-mountain-lights.jpg
      sponsors:
        - name: Hanazono
          img: /assets/images/company/higuma/hanazono.png
          url: https://hanazononiseko.com/en

  - row:

    - title: Private Gym Membership
      quantity: 2
      desc: One 30 hour and one 15 hour private gym membership
      images:
        - /assets/images/competitions/2025/raffle/nomad-01.jpg
      sponsors:
        - name: Nomad Wellness
          img: /assets/images/company/tanuki/nomad-wellness.png
          url: https://nomadwellnessniseko.com

    - title: 60 Minute Physiotherapy
      quantity: 1
      desc: initial physiotherapy assessment and treatment
      images:
        - /assets/images/competitions/2025/raffle/nomad-02.jpg
      sponsors:
        - name: Nomad Wellness
          img: /assets/images/company/tanuki/nomad-wellness.png
          url: https://nomadwellnessniseko.com

    - title: 60 Minute Sports Massage
      quantity: 1
      desc:
      images:
        - /assets/images/competitions/2025/raffle/nomad-03.jpg
      sponsors:
        - name: Nomad Wellness
          img: /assets/images/company/tanuki/nomad-wellness.png
          url: https://nomadwellnessniseko.com

    - title: Drop In Gym Session
      quantity: 1
      desc:
      images:
        - /assets/images/competitions/2025/raffle/flow-fitness-01.jpg
      sponsors:
        - name: Flow Fitness
          img: /assets/images/company/flow-fitness.png
          url: https://flowfitness.jp

  - row:

    - title: Signed Twin Peaks T-shirts
      hidePrizeNumber: true
      quantity: 4
      desc: Twin Peaks Seed Funder T-shirt signed by Loic Bruni, Nico Vink, Hajime Imoto, & Yuki Nagata
      images:
        - /assets/images/competitions/2025/raffle/loic-01.jpg
        - /assets/images/competitions/2025/raffle/loic-02.jpg
      sponsors:
        - name: Twin Peaks
          img: /assets/images/logos/twin-peaks.png
          url: https://namba.ngo/twin-peaks/
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Loic Bruni Swag
      hidePrizeNumber: true
      quantity: 2
      desc: |
        Meet the totally new Purgatory. This do-it-all tread features large center square lugs that bite in soft soil, while
        still providing support on hard-packed ground and is equally at home on the front or back of the bike. Block-in-block
        knobs roll fast, adapt to terrain, and are supremely confident when pushed hard. There’s plenty of meat on the Purgatory
        to offer reassuring grip across a wide range of terrain.
      images:
        - /assets/images/competitions/2025/raffle/loic-03.jpg
        # - /assets/images/competitions/2025/raffle/loic-04.jpg
      sponsors:
        - name: Specialized
          img: /assets/images/company/special/specialized.png
          url: https://specialized-onlinestore.jp/
        - name: Like Butter
          img: /assets/images/company/like-butter.png
          url: https://likebutter.eu/
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Specialized 29" Tyres
      hidePrizeNumber: true
      quantity: 4
      desc: |
        Butcher delivers total confidence and control across all trail conditions. With 12% more of our stickiest compound tread
        in contact with the terrain, it excels whether you’re carving groomed turns, plowing through chunder, or tackling
        post-storm slop. Trust Butcher to give you the grip and assurance to send it with conviction, no matter the challenge.
      images:
        - /assets/images/competitions/2025/raffle/tyre-01.jpg
        - /assets/images/competitions/2025/raffle/tyre-03.jpg
      sponsors:
        - name: Specialized
          img: /assets/images/company/special/specialized.png
          url: https://specialized-onlinestore.jp/
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.


  - row:

    - title: Peaty's Apparel
      hidePrizeNumber: true
      quantity: 10
      desc: Pub Wear Crew Jumpers, Pub Wear Hoodies,
      images:
        - /assets/images/competitions/2025/raffle/peatys-05.jpg
      sponsors:
        - name: Peatys
          img: /assets/images/company/peatys.png
          url: https://peatys.co.uk
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Peaty's Marshguard Mudgaurds
      hidePrizeNumber: true
      quantity: 9
      desc:
      images:
        - /assets/images/competitions/2025/raffle/peatys-04.jpg
      sponsors:
        - name: Peatys
          img: /assets/images/company/peatys.png
          url: https://peatys.co.uk
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.


    - title: DT Swiss Water Bottles
      hidePrizeNumber: true
      quantity: 10
      desc:
      images:
        - /assets/images/competitions/2025/raffle/dt-swiss-01.jpg
      sponsors:
        - name: DT Swiss
          img: /assets/images/company/dt-swiss.png
          url: https://dtswiss.com/
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  - row:

    - title: Island Niseko T-Shirt & Beenies
      hidePrizeNumber: true
      quantity: 10
      desc:
      images:
        - /assets/images/competitions/2025/raffle/island-03.jpg
      sponsors:
        - name: Island Snowboards
          img: /assets/images/company/island.png
          url: https://www.island-snowboards.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Burton Backpacks
      hidePrizeNumber: true
      quantity: 2
      desc:
      images:
        - /assets/images/competitions/2025/raffle/burton-01.jpg
      sponsors:
        - name: Burton Niseko
          img: /assets/images/company/tanuki/burton.png
          url: https://www.burton.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Lifestyle Accessories from Rhythm Japan
      hidePrizeNumber: true
      quantity: 5
      desc:
      images:
        - /assets/images/competitions/2025/raffle/rhythm-03.jpg
      sponsors:
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  - row:

    - title: Yotei Brewing Sampler 6 Pack
      hidePrizeNumber: true
      quantity: 4
      desc:
      images:
        - /assets/images/competitions/2025/raffle/yotei-brewing-01.jpg
        - /assets/images/competitions/2025/raffle/yotei-brewing-02.jpg
      sponsors:
        - name: Yotei Brewing
          img: /assets/images/company/tanuki/yotei-brewing.png
          url: https://yotei.beer/en/
      note: Winner must be at least 20 years old to claim. Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Pow Bar Mixed Pack
      hidePrizeNumber: true
      quantity: 4
      desc: Based on the concept of "living and eating in harmony with nature," Pow Bar uses natural ingredients and no preservatives. Their energy bars are packed with the strength of nature, gently speaking to the body and mind.
      images:
        - /assets/images/competitions/2025/raffle/powbar-01.jpg
        - /assets/images/competitions/2025/raffle/powbar-02.jpg
      sponsors:
        - name: Pow Bar
          img: /assets/images/company/powbar.png
          url: http://thepowbar.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.


  - row:

    - title: Coffees & Sweet Treats from Hidden Stand Coffee
      hidePrizeNumber: true
      quantity: 3
      desc:
      images:
        - /assets/images/competitions/2025/raffle/hidden-stand-01.jpg
      sponsors:
        - name: Hidden Stand
          img: /assets/images/company/hidden-stand.png
          url: https://www.instagram.com/hiddenstandcoffee/
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Black Powder Roasting Coffee
      hidePrizeNumber: true
      quantity: 5
      desc:
      images:
        - /assets/images/competitions/2025/raffle/coffee-01.jpg
      sponsors:
        - name: Black Powder Roasting
          img: /assets/images/company/black-powder-roasting.png
          url: https://www.instagram.com/blackpowder_niseko
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Niseko Gelato Double Scoops
      hidePrizeNumber: true
      quantity: 8
      desc:
      images:
        - /assets/images/competitions/2025/raffle/gelato-01.jpg
      sponsors:
        - name: Niseko Gelato
          img: /assets/images/company/niseko-gelato.png
          url: https://www.nisekogelato.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    # - title: Fox Float Rhythm 29" Forks
    #   hidePrizeNumber: true
    #   quantity: 4
    #   desc: Boost your ride with these high-performance suspension forks. Designed for smooth, reliable, and precise handling on any trail, perfect for enhancing your mountain biking experience.
    #   images:
    #     - /assets/images/prizes/2024/forks-01.jpg
    #     - /assets/images/prizes/2024/forks-02.jpg
    #   sponsors:
    #     - name: Fox
    #       img: /assets/images/company/fox.png
    #       url: https://ridefox.com
    #   note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    # - title: Race Face bar and stem set
    #   hidePrizeNumber: true
    #   quantity: 5
    #   desc: Upgrade your cockpit with this robust and stylish bar and stem combo. Engineered for strength and control, it's the perfect setup for tackling any trail with confidence.
    #   images:
    #     - /assets/images/prizes/2024/bar-01.jpg
    #     - /assets/images/prizes/2024/bar-02.jpg
    #   sponsors:
    #     - name: Race Face
    #       img: /assets/images/company/raceface.svg
    #       url: https://www.raceface.com
    #   note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  # - row:
  #   - title: Race Face Chester pedals
  #     hidePrizeNumber: true
  #     quantity: 5
  #     desc: Lightweight yet durable, these pedals offer superior grip and performance. Perfect for riders looking for reliable traction and a confident ride on any terrain.
  #     images:
  #       - /assets/images/prizes/2024/pedals.jpg
  #     sponsors:
  #       - name: Race Face
  #         img: /assets/images/company/raceface.svg
  #         url: https://www.raceface.com
  #     note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  #   - title: Race Face "Getta grip" grips
  #     hidePrizeNumber: true
  #     quantity: 5
  #     desc: Experience comfort and control with these ergonomic grips. Designed for a secure hold, they ensure a comfortable and confident ride on every trail.
  #     images:
  #       - /assets/images/prizes/2024/grips.jpg
  #     sponsors:
  #       - name: Race Face
  #         img: /assets/images/company/raceface.svg
  #         url: https://www.raceface.com
  #     note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  #   - title: Fox trucker baseball caps
  #     hidePrizeNumber: true
  #     quantity: 12
  #     desc: Stay cool and stylish with these classic trucker caps. Perfect for any adventure, they offer breathable comfort and a versatile look, on or off the trail.
  #     images:
  #       - /assets/images/prizes/2024/baseball-01.jpg
  #     sponsors:
  #       - name: Fox
  #         img: /assets/images/company/fox.png
  #         url: https://ridefox.com
  #     note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  # - row:
  #   - title: Smith Optics Essential t-shirts
  #     hidePrizeNumber: true
  #     quantity: 2
  #     desc: Keep it simple and stylish with these high-quality Smith t-shirts. Designed for comfort and durability, they’re the perfect go-to for any casual occasion.
  #     images:
  #       - /assets/images/prizes/2024/smith-07.jpg
  #     sponsors:
  #       - name: Smith
  #         img: /assets/images/company/smith.png
  #         url: https://smithjapan.co.jp/
  #     note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  #   - title: Specialized t-shirts
  #     hidePrizeNumber: true
  #     quantity: 1
  #     desc: Show off your passion for riding with these high-quality, comfortable t-shirts. Perfect for everyday wear, whether you're on the bike or just hanging out.
  #     images:
  #       - /assets/images/prizes/2024/tshits-01.jpg
  #     sponsors:
  #       - name: Specialized
  #         img: /assets/images/company/special/specialized.png
  #         url: https://specialized-onlinestore.jp/
  #     note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  #   - title: B3 Coffee ¥5,000 voucher book
  #     hidePrizeNumber: true
  #     quantity: 2
  #     desc: Enjoy premium coffee and delicious treats at B3 Coffee Otaru with this ¥5,000 voucher book. Perfect for fueling up before or after your adventures.
  #     images:
  #       - /assets/images/prizes/2024/b3.jpg
  #     sponsors:
  #       - name: B3 Coffee Otaru
  #         img: /assets/images/company/b3.png
  #         url: https://www.instagram.com/b3.coffee.otaru/
  #     note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn. Vouchers valid for 1 year from raffle draw date, and only one voucher can be used at a time.

  # - row:
  #   - title: Fox bottle openers
  #     hidePrizeNumber: true
  #     quantity: 3
  #     desc: Crack open a cold one with these unique bottle openers, shaped like rear shocks. Magnetic design ensures they stick to your fridge, blending functionality with a cool, bike-inspired look.
  #     images:
  #       - /assets/images/prizes/2024/bottle-opener.jpg
  #     sponsors:
  #       - name: Fox
  #         img: /assets/images/company/fox.png
  #         url: https://ridefox.com
  #     note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  #   - title: Fox key ring
  #     hidePrizeNumber: true
  #     quantity: 6
  #     desc: Convenient and stylish, these key rings double as bottle openers, making them the perfect accessory for any biker. Always ready to pop a bottle on the go.
  #     images:
  #       - /assets/images/prizes/2024/key-ring.jpg
  #     sponsors:
  #       - name: Fox
  #         img: /assets/images/company/fox.png
  #         url: https://ridefox.com
  #     note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.
---
<style>
  .carousel .hero {
    border: 1px #cccccc solid;
    border-radius: 5px;
  }

  .carousel .thumbs {
    display: flex;
    flex-flow: row wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 5px;
  }

  .carousel .thumbwrap {
    width: 20%;
  }

  @media(max-width: 1199px) {
    .carousel .thumbwrap {
      width: 33.333333333%;
    }
  }

  @media(max-width: 992px) {
    .carousel .thumbwrap {
      width: 25%;
    }
  }

  @media(max-width: 480px) {
    .carousel .thumbwrap {
      width: 33.333333333%;
    }
  }

  .carousel .thumb {
    margin: 5px;
    cursor: pointer;
    border: 1px #ccc solid;
    border radius: 5px;
  }

  .carousel .thumb:hover {
    opacity: 0.8;
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .prizes .num {
    color: #0e0e0e;
    font-size: 200%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top: 7px;
  }

  .prizes .features-item:not(.no-hover):hover .num {
    color: #fd7d57;
  }

  .prizes .features-item a.action:hover {
    background-color: #fd7d57;
    background: linear-gradient(135deg, #fd7d57, #f55d59);
    border-color: #fd7d57;
  }

  .gold {
    color: #ffd97b;
    font-size: 12px !important;
    font-family: "Metropolis"
    , Helvetica
    , Arial
    , sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-top: 30px;
  }

  .prizes .features-item {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .features-item .sponsors {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .features-item .sponsors a {
    margin: 0 5px;
  }

  .features-item .sponsors img {
    margin-bottom: 10px;
    max-height: 50px;
    max-width: 150px;
  }

  .features-item .products {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  @media(max-width: 480px) {
    .features-item .products .prodwrap {
      width: 100%;
    }
  }

  .features-item .products .prodwrap.full {
    width: 100%;
  }

  @media(max-width: 991px) {
    .features-item .products .prodwrap.full {
      width: auto;
    }
  }

  .features-item .products .prod {
    margin: 0 5px 10px;
    border: 1px #ccc solid;
    border radius: 5px;
  }

  .features-item .small > div {
    position: relative;
  }

  .features-item .action {
    font-size: 125%;
    border: 1px #ffffff solid;
    display: inline-block !important;
  }

  .features-item .small {
    font-style: italic;
    font-size: 75%;
    margin-top: 30px;
  }

  .owl-carousel {
    margin-top: 15px;
  }

  .owl-nav button span {
    opacity: 0.5;
  }

  .owl-nav button span:before {
    color: #fd7d57;
    font-size: 35px;
    background: linear-gradient(135deg, #fd7d57, #f55d59);
    background-clip: text;
    display: inline-block;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    text-indent: 1px;
  }

  .owl-nav button span:hover {
    opacity: 0.8;
  }

  .owl-nav {
    text-align: center;
    margin-top: 15px;
  }

  .owl-nav .owl-next {
    margin-left: 15px;
    /*float: right;*/
  }

  .ec-grid {
    display: block !important;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .details-gallery__images-spacer {
    margin-top: 35px;
  }

  .product-details__navigation {
    display: none !important;
  }

  #ProductBrowser-1 {
    min-height: auto !important;
  }

  .form-control {
    text-align: center !important;
    text-align: -moz-center !important;
    text-align: -webkit-center !important;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice {
    background-color: #fd7d57;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice::before {
    color: #fd7d57;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice::after {
    color: #fd7d57;
  }

  .ec-form__row--continue .form-control--done {
    text-align: left !important;
  }

  .form-control button.form-control__button {
    color: #ffffff !important;
    background-color: #fd7d57 !important;
    border-color: transparent !important;
    background: linear-gradient(135deg, #fd7d57, #f55d59) !important;

    border: 0 !important;
    border-radius: 30px !important;
    font-weight: 500 !important;
    padding-left: 36px !important;
    padding-right: 36px !important;

    width: auto !important;
    font-size: 14px !important;
  }

  .form-control button.form-control__button:hover {
    background: #fd7d57 !important;
    background: linear-gradient(155deg, #fd7d57, #fd7d57) !important;
  }

  img.ecwid-PaymentMethodsBlockSvg {
    background: #fff !important;
  }

  html#ecwid_html body#ecwid_body .ec-cart__button .paypal-button {
    width: 200px;
    margin: 0 auto;
  }

  .ec-cart__button--apple-pay {
    text-align: center !important;
    text-align: -moz-center !important;
    text-align: -webkit-center !important;
  }

  .ec-cart__button--apple-pay .form-control--button {
    border: 1px #fff solid !important;
    padding-left: 36px !important;
    padding-right: 36px !important;
    border-radius: 30px !important;
    width: 170px !important;
    margin: 0 auto !important;
    position: relative !important;
  }

  a.breadcrumbs__link--last {
    font-size: 0 !important;
  }

  a.breadcrumbs__link--last:after {
    content: '✕';
    font-size: 20px;
    font-weight: bold;
    float: right;
  }

  html#ecwid_html body#ecwid_body #raffle-store .ec-size .ec-store .details-gallery__images-spacer {
    margin-top: 0;
  }

  #raffle-store a.breadcrumbs__link--last {
    display: none;
  }

  html#ecwid_html body#ecwid_body #raffle-store .ec-confirmation__continue {
    display: none;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-lightspeed-branding {
    display: none !important;
  }
</style>

<script
  id="ecwid-script"
  data-cfasync="false"
  type="text/javascript"
  src="https://app.ecwid.com/script.js?71386768&lang=en-GB&data_platform=code&data_date=2022-08-27"
  charset="utf-8"></script>
<div>

  <div class="t3-section-wrap">

    <div class="module-title-wrap" style="margin-top:0px; margin-bottom:30px">
      <p
        class="ja-animate"
        data-animation="move-from-bottom"
        data-delay="800">Entry is open from 16th August 2025 until 6:00pm 20th September 2025.
      </p>
    </div>

    <div class="section acm-features style-2 prizes">
      <div
        class="row"
        data-animation="move-from-bottom"
        data-delay="1800">
        <div class="col col-sm-12 col-md-12">
          <div
            class="features-item no-hover ja-animate"
            data-animation="move-from-bottom"
            data-delay="item-0">

            <div class="row">
              <div class="col col-sm-12 col-md-4">
                <div class="font-icon">
                  <span class="icon ion-ios-trophy">
                    <span class="num">1</span>
                  </span>
                </div>
                <h4>Specialized Status 2 170</h4>
                <div class="sponsors">
                  <a href="https://www.specialized-onlinestore.jp/" target="_blank">
                    <img src="/assets/images/company/special/specialized.png" alt="Specialized Bicycles" />
                  </a>
                </div>
                {% comment %} <p style="font-size:125%;">
                  <strong>NEVER FOR SALE</strong>
                </p> {% endcomment %}
                <p class="gold" style="margin-top:30px;">Satin White Sage / Rusted Red</p>
                <p class="gold">FOX FLOAT 38 Rhythm</p>
                <p class="gold">FOX DHX Performance</p>
                <p class="gold">Specialized Rims, 29" front, 27.5" rear</p>
                <p class="gold">Specialized Butcher tires</p>
                <p class="gold">Shimano Deore drive train</p>
                <p class="gold">TRP Trail EVO brakes</p>
                <p class="gold">M5 Alloy chassis and rear-end</p>
                <p class="gold">S2 size</p>
                <a class="btn action to-raffle" href="#raffle-store">
                  <span>Enter to win here</span>
                </a>
                <p class="small">The bike is available for immediate collection in Niseko, or for postage within Japan. Should a winner be unable to collect the bicycle immediately, storage for up to 6 months is available in Niseko.</p>
              </div>
              <div class="col col-sm-12 col-md-8">

                <div class="carousel">
                  <div class="hero">
                    <img id="carousel-hero" src="/assets/images/competitions/2025/raffle/status-0.jpg" />
                  </div>
                  <div class="thumbs">
                    {% for i in (0..9) -%}
                      <div class="thumbwrap">
                        <div class="thumb {% if i == 0 %}active{% endif %}" onclick="changeHero(this, '/assets/images/competitions/2025/raffle/status-{{ i }}.jpg');">
                          <img src="/assets/images/competitions/2025/raffle/status-{{ i }}.jpg" />
                        </div>
                      </div>
                    {%- endfor %}
                  </div>
                </div>

                <p style="margin-top:15px; margin-bottom:15px;">
                  <strong style="color:#fff;">BUILT BY RIDERS.</strong>
                  Each build starts with a super strong M5 alloy chassis and tough alloy wheels. Stout suspension, powerful brakes, and
                  popular drivetrain options round out these builds to catch big hits, pedal smooth, and provide a ton of stoppage. It’s
                  not for the gram counter—it’s for those riders who push the boundaries of progression and come back for more.
                </p>
                <p style="margin-bottom:15px;">
                  <strong style="color:#fff;">RIDE DYNAMICS TUNED.</strong>
                  Before showing up at your doorstep or local bike shop, each STATUS 2 gets a special shock tune from our Specialized Ride
                  Dynamics team—a group that eats, sleeps, and breathes mountain bike suspension. The characteristics of the shock are
                  designed to complement the kinematics of the new STATUS 2 perfectly.
                </p>
                <p style="margin-bottom:15px;">
                  <strong style="color:#fff;">LET’S GET PERSONAL.</strong>
                  Each model of STATUS 2 features neatly packaged flip chips (located on the Horst pivot link, close to the rear axle)
                  that allow the rider to finely tune the frame’s geometry to their desired ride or terrain. Bikes ship in the high
                  position but can be ‘flipped’ to lower and slacker—8 mm lower bottom bracket and half a degree slacker head tube angle.
                </p>
                <p style="margin-bottom:15px;">
                  <strong style="color:#fff;">YOURS TO WIN.</strong>
                  Each raffle ticket you buy secures you another chance to win this epic bike, and the other prizes on offer. It also supports a good cause: all proceeds go towards building free and public mountain biking trails.
                </p>

                {% comment %} <p class="gold" style="margin-bottom:15px;">The Mountain Guardian; 山守人</p>
                <p>Fully custom limited edition paint job. Never for sale.</p>
                {% include carousel.html images=site.data.prizes.levo.paint.images items=2 autoplay='false' id=2 %}

                <p class="gold" style="margin-bottom:15px;">About Specialized Soil Searching</p>
                <p style="margin-bottom:15px;">Specialized Soil Searching is a movement to recognize, celebrate, and support the trail builders who help shape our sport and our stoke.</p>
                <p style="margin-bottom:15px;">NAMBA is thankful to have our association's trail building team sponsored by Specialized through their Soil Searching Program, and to be raffling off this limited edition Stumpjumper.
                </p>
                <a class="btn action to-raffle" href="#raffle-store">
                  <span>Enter to win here</span>
                </a>{% endcomment %}
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="section acm-features style-2 prizes">

      {% assign prizeNumber = 1 %}
      {% for prizeRow in page.otherPrizes %}
        <div
          class="row equal-height equal-height-child"
          data-animation="move-from-bottom"
          data-delay="0">

          {% assign prizeRowSize = prizeRow.row | size %}
          {% for prize in prizeRow.row %}
            {% assign prizeNumber = prizeNumber | plus: 1 %}
            <div class="col col-sm-12 {% if prizeRowSize == 2 %}col-md-6{% elsif prizeRowSize == 3 %}col-md-4{% elsif prizeRowSize == 4 %}col-md-3{% endif %}">
              <div
                class="features-item no-hover ja-animate"
                data-animation="move-from-bottom"
                data-delay="item-{{ prizeNumber | minus: 2 }}">
                <div class="font-icon">
                  <span class="icon ion-ios-trophy">
                    {% unless prize.hidePrizeNumber %}
                      <span class="num">{{ prizeNumber }}</span>
                    {% endunless %}
                  </span>
                </div>
                <h4>{{ prize.title }}</h4>
                <div class="products">
                  {% assign prizeImageSize = prize.images | size %}
                  {% for image in prize.images %}
                    <div
                      class="prodwrap"
                      {% if prizeImageSize > 1 or prizeRowSize < 3 %}
                      style="width:50%"
                      {% endif %}>
                      <div class="prod">
                        <img src="{{ image }}" />
                      </div>
                    </div>
                  {% endfor %}
                </div>
                {% if prize.quantity %}
                  <div>
                    <strong class="gold" style="font-size:125%;">
                      <span style="font-size:200%;">{{ prize.quantity }}</span>
                      {% if prize.quantity == 1 %}prize available{% else %}prizes available{% endif %}
                    </strong>
                  </div>
                {% endif %}
                {% if prize.value %}
                  <p style="font-size:125%;">A value of
                    <strong>{{ prize.value }}</strong>
                  </p>
                {% endif %}
                {% if prize.subtitle %}
                  <p class="gold" style="margin-top:30px; margin-bottom:15px;">{{ prize.subtitle }}</p>
                {% endif %}
                {% if prize.desc %}
                  <p style="margin-bottom:15px;">{{ prize.desc }}</p>
                {% endif %}
                {% for inclusion in prize.inclusions %}
                  <p
                    class="gold"
                    {% if forloop.index0 == 0 %}
                    style="margin-top:30px"
                    {% endif %}>{{ inclusion }}</p>
                {% endfor %}
                <a class="btn action to-raffle" href="#raffle-store">
                  <span>Enter to win here</span>
                </a>
                <div class="sponsors">
                  {% for sponsor in prize.sponsors %}
                    <a href="{{ sponsor.url }}" target="_blank">
                      <img src="{{ sponsor.img }}" alt="{{ sponsor.name }}">
                    </a>
                  {% endfor %}
                </div>
                {% if prize.note %}
                  <p class="small">{{ prize.note }}</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    </div>

    <div class="t3-section">
      <h2
        style="text-align: center;"
        data-animation="move-from-bottom"
        data-delay="400">More prizes coming soon, so check back for updates!</h2>
    </div>

    <div class="t3-section">

      <div class="module-title-wrap"></div>

      <div id="raffle-store"></div>

    </div>
  </div>


</div>
<script>
  window.ec = window.ec || Object();
  window.ec.config = window.ec.config || Object();
  window.ec.config.custom_redirect_after_purchase = 'https://www.namba.ngo/get-involved/thanks';
  window.ec.config.navigation_scrolling = "DISABLED";
  window.ec.storefront = window.ec.storefront || Object();
  window.ec.storefront.product_details_show_share_buttons = false;
  window.ec.storefront.product_details_show_qty = true;
  window.ec.storefront.product_details_show_in_stock_label = true;
  window.ec.storefront.show_breadcrumbs = true;
  window.ec.storefront.product_details_show_breadcrumbs = true;
  window.ec.storefront.product_details_position_breadcrumbs = 25;
  window.ec.storefront.breadcrumbs_separator = "";

  xProductBrowser("defaultProductId={{page.storeProductId}}", "categoriesPerRow=3", "views=grid(20,3) list(60) table(60)", "categoryView=grid", "searchView=list", "id=raffle-store");

  window.ecwid_script_defer = true;
  window.ecwid_dynamic_widgets = true;

  function changeHero(source, img) {
    document.getElementById('carousel-hero').src = img;

    const thumbs = document.getElementsByClassName("thumb");
    for (i = 0; i < thumbs.length; i++) {
      thumbs[i].className = thumbs[i].className.replace(" active", "");
    }

    source.className += " active"

  }
</script>
