---
layout: base
# baseCss: hidden-masthead-info
---
{% assign path = page.url | remove_first: "/" | remove: "ja/" | remove: "index.html" %}
{% assign pathSegments = path | split: "/" %}
{% assign path0 = pathSegments.first | default: '' %}
{% assign path1 = pathSegments[1] %}

{% include masthead.html %}

<style>


  /*
   .t3-mainbody {
   margin-top: 24px;
   }
*/

  .t3-sidebar .tp-logo {
    width: 150px;
    margin: 0 auto 24px;
    display: flex;
  }

  .t3-sidebar h3 {
    font-size: 12px;
  }

  .t3-sidebar .action span {
    margin-left: 8px;
    position: relative;
    top: 1px;
    letter-spacing: -1px;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
  }

  .t3-sidebar .action:hover span,
  .t3-sidebar .action:focus span,
  .t3-sidebar .action:active span {
    margin-left: 14px;
  }

  .t3-sidebar .stat {
    font-size: 8px;
    display: inline-block;
    padding: 7px;
    text-align: center;
    list-style: none;
    border: 0;
  }

  .t3-sidebar .stat span.dicon_small {
    font-size: 20px;
  }

  .t3-sidebar .stat-count {
    display: block;
    font-size: 16px;
    text-align: center;
  }

  .t3-sidebar .stat span {
    border-radius: 3px;
    margin-right: 5px;
  }

  .t3-sidebar .stat .dgreen {
    color: #46b414;
  }

  .t3-sidebar .stat .dblue {
    color: #148cf0;
  }

  .t3-sidebar .stat .dblack {
    color: var(--color-bg);
    background-color: var(--color-text);
  }

  .t3-sidebar .stat .ddblblack {
    color: #be0014;
  }

  .t3-sidebar .partners {
    margin: 10px auto;
  }

  .t3-sidebar .partners ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .t3-sidebar .partners li {
    display: inline;
    line-height: 60px;
  }

  .t3-sidebar .partners img {
    margin-right: 18px;
    margin-bottom: 18px;
    max-height: 57px;
    max-width: 57px;
  }

  @media(max-width: 1199px) {
    .t3-sidebar .partners li {
      line-height: 48px;
    }

    .t3-sidebar .partners img {
      max-height: 48px;
      max-width: 48px;
    }
  }

  .credit {
    float: right;
    font-size: 90%;
  }

  .credit a {
    color: var(--color-text);
  }
</style>

<div id="t3-mainbody" class="container t3-mainbody">
  <div class="row equal-height">

    <!-- MAIN CONTENT -->
    <div id="t3-content" class="t3-content col col-12 col-md-8 col-lg-9">
      <div class="item-page hidden-masthead-info">
        <!-- Article -->
        <article>
          {{ content }}
        </article>
      <!-- //Article -->
      </div>
    </div>
    <!-- //MAIN CONTENT -->

    <!-- SIDEBAR RIGHT -->
    <div class="t3-sidebar t3-sidebar-right col col-12 col-md-4 col-lg-3">
      <img
        class="tp-logo"
        src="/assets/images/logos/twin-peaks.svg?d={{ site.time | date: " %s" }}"
        alt="{% if page.lang == 'ja' %}ツインピークスバイクパーク{% else %}Twin Peaks Bike Park{% endif %}" />
      <div class="t3-module module">
        <div class="module-inner">
          <div class="module-ct">
            <ul class="nav nav-pills flex-column">
              <li
                {% unless path1 %}
                class="active"
                {% endunless %}>
                <a href="/twin-peaks/">
                  {% if page.lang == "ja" %}トレイルマップ<wbr>＆<wbr>状況{% else %}Trail Map & Status{% endif %}
                </a>
              </li>
              <li
                {% if path1=='access' %}
                class="active"
                {% endif %}>
                <a href="/twin-peaks/access">
                  {% if page.lang == "ja" %}アクセス<wbr>＆<wbr>設備{% else %}Access & Facilities{% endif %}
                </a>
              </li>
              <li
                {% if path1=='guides' %}
                class="active"
                {% endif %}>
                <a href="/twin-peaks/guides">
                  {% if page.lang == "ja" %}ガイド<wbr>＆<wbr>ツアーオペレーション{% else %}Guides & Tour operators{% endif %}
                </a>
              </li>
              {% comment %} <li {% if path1=='trail-building' %}class="active"{% endif %}>
                                                                  <a href="/twin-peaks/phases">
                                                                    {% if page.lang == "ja" %}トレイルビルディング{% else %}Trail building{% endif %} <span
                                                                  </a>
                                                        </li> {% endcomment %}
              <li
                {% if path1=='rules' %}
                class="active"
                {% endif %}>
                <a href="/twin-peaks/rules">
                  {% if page.lang == "ja" %}ルール{% else %}Rules{% endif %}
                </a>
              </li>
              <li
                {% if path1=='wet-trails' %}
                class="active"
                {% endif %}>
                <a href="/twin-peaks/wet-trails">
                  {% if page.lang == "ja" %}ぬれた<wbr>トレイル{% else %}Wet Trails{% endif %}
                </a>
              </li>
              <li
                {% if path1=='commercial-pass' %}
                class="active"
                {% endif %}>
                <a href="/twin-peaks/commercial-pass">
                  {% if page.lang == "ja" %}商業事業者<wbr>パス{% else %}Commercial Pass{% endif %}
                </a>
              </li>
              <li
                {% if path1=='emergency' %}
                class="active"
                {% endif %}>
                <a href="/twin-peaks/emergency">
                  {% if page.lang == "ja" %}緊急対応計画{% else %}Emergency Procedure{% endif %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="t3-module module">
        <div class="module-inner">
          {% if page.lang == "ja" %}
          <h3 class="module-title">
            <span>バイクパーク　パートナー</span>
          </h3>
          {% else %}
          <h3 class="module-title">
            <span>Bike park partners</span>
          </h3>
          {% endif %}
          <div class="module-ct partners">
            <ul>
              <li>
                <a href="https://helloallegra.com" target="_blank">
                  <img src="/assets/images/company/special/allegra.png"
                    title="{% if page.lang == 'en' %}Trail building partner{% else %}トレイルビルド パートナー{% endif %}">
                </a>
              </li>
              <li>
                <a href="{% if page.lang == 'en' %}https://www.mnkniseko.com/en{% else %}https://www.mnkniseko.com/ja{% endif %}"
                  target="_blank">
                  <img src="/assets/images/company/special/mnk.png"
                    title="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="{% if page.lang == 'en' %}https://rhythmjapan.com{% else %}https://www.rhythmjapan.com/ja/{% endif %}"
                  target="_blank">
                  <img src="/assets/images/company/special/rhythm.png"
                    title="{% if page.lang == 'en' %}Maintenance sponsor{% else %}メンテナンス スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="https://www.specialized-onlinestore.jp/" target="_blank">
                  <img src="/assets/images/company/special/specialized.png"
                    title="{% if page.lang == 'en' %}Trail building team partner{% else %}トレイルビルドチーム スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="{% if page.lang == 'en' %}https://holidayniseko.com{% else %}https://holidayniseko.jp{% endif %}"
                  target="_blank">
                  <img src="/assets/images/company/special/holiday-niseko.png"
                    title="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="https://www.nisekorealty.com" target="_blank">
                  <img src="/assets/images/company/special/niseko-realty.png"
                    title="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="http://www.nisekorealtysales.com" target="_blank">
                  <img src="/assets/images/company/special/nrs.png"
                    title="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="https://www.santacruzbicycles.com/" target="_blank">
                  <img src="/assets/images/company/special/santa-cruz.png"
                    title="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <img src="/assets/images/company/special/taki.png"
                  title="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
              </li>
            </ul>
          </div>
        </div>
      </div>

      {% include park-stats.html data_key="twinpeaks" %}


    </div>
  <!-- //SIDEBAR RIGHT -->
  </div>

</div>

<script type="text/javascript">
  var script = document.createElement("script"); script.setAttribute("src", "https://es.pinkbike.org/ttl-86400/sprt/j/trailforks/widget.js?units=metric"); document.getElementsByTagName("head")[0].appendChild(script); var widgetCheck = false;
</script>
